.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  width: 100%;
  height: 11vh;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  bottom: 0;
  color: rgb(240, 231, 233);
  user-select: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}