.footer {
    text-align: center;
    width: 100%;
    height: 11vh;
    margin-top: 22px;
    padding-bottom: 1%;
    bottom: 0;
    color: rgb(240, 231, 233, .4);
    user-select: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}