.counter-table {
    max-width: 1080px;
    background-color: white;
    
    margin: 15px auto;
    border-radius: 3px;
    user-select: none;
    /*box-shadow: 0px 0px 4px 1px rgba(153, 153, 153, 0.4);*/
}
#matchup-table__title {
    display: block;
    padding: 2px 15px;
    text-shadow: 1px 1px 1px rgb(199, 197, 197);
    color: rgb(1, 51, 80);
    text-transform: uppercase;
    font-size: 24pt;
    opacity: 1;
    font-family: 'Khula', sans-serif;
    height: fit-content;
    margin: 15px 0 5px 0;
}
#counter-table__table {
    display: block;
    font-size: 8pt;
    overflow: scroll;
}
#counter-table__table::-webkit-scrollbar {
    /*display: none;*/
}
.counter-table__summary {
    padding: 5px 15px 0 15px;
}
#matchup-hr {
    opacity: .1;
    width: 97%;
}

.counter-table__table-head {
    text-align: center;
}
.cell-highlight {
    background-color: rgb(35, 243, 174);
}

.counter-table__row-head {
    max-width: 70px;
    min-width: 70px;
    text-align: right;
    overflow: hidden;

}
.counter-table__row-head2 {
    max-width: 70px;
    min-width: 70px;
    text-align: left;
    overflow: hidden;
}
.create-table__column-head {
    min-width: 40px;
    max-width: 60px;
    text-align: center;
}
.counter-table__value {
    min-width: 40px;
    max-width: 60px;
    text-align: center;
    font-size: 10pt;
    border: solid .5pt rgb(228, 228, 228, .3);
}

.counter-table__td-doubleplus {
    background-color: rgb(1, 182, 228, .85);
}
.counter-table__td-plus {
    background-color: rgba(183, 240, 248, 0.8);
}
.counter-table__td-doubleminus {
    background-color: rgb(226, 13, 59, .65);
}
.counter-table__td-minus {
    background-color: rgb(255, 180, 193, .8);
}

.counter-table__legend {
    width: 350px;
    margin: 5px auto;
    font-size: 9pt;
}

.counter-table__legend-td {
    min-width: 50px;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
}

.counter-table__legend-val {
    width: 40px;
    text-align: center;
    font-size: 10pt;
    border: solid .5pt rgb(228, 228, 228, .35);
}

/*.counter-table__col0:hover {
    background-color: gray;
}
.counter-table__col1 col:hover {
    background-color: gray;
}*/