
/* Theme */

.dark-theme {
  background-color: #282c34;
  color: rgb(255, 255, 255, .95);
}
.light-theme {
  background-color: rgb(255, 255, 255, .95);
  color: #282c34;
}

.dark-theme__title {
  text-shadow: 1px 1px 1px rgba(43, 27, 5, 0.5);
}

.light-theme__title {
  text-shadow: 1px 1px 1px rgb(199, 197, 197);
}

/* App */

.app {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .apiUrl span {
    width: 100%;
    overflow: scroll;
    inline-size: 80%;
  }
}