/* Background */
/* 
#1b2125 #3f2932
10 11 14 21
html {
  --main-bg: url("./resources/background10.png");
}
*/
#home-page {
  /*background-image: var(--main-bg);*/
  background-image: url("./resources/background21.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  width: 100%;
}

/* App */

.app {
  width: 100%;
  height: 100%;
}

/* Theme */

.dark-theme {
  background-color: #282c34;
  color: rgb(255, 255, 255, .95);
}
.light-theme {
  background-color: rgb(255, 255, 255, .95);
  color: #282c34;
}

.dark-theme__title {
  text-shadow: 1px 1px 1px rgba(43, 27, 5, 0.5);
}

.light-theme__title {
  text-shadow: 1px 1px 1px rgb(199, 197, 197);
}


@media screen and (max-width: 600px) {
  .apiUrl span {
    width: 100%;
    overflow: scroll;
    inline-size: 80%;
  }
}