.dark-theme {
  background-color: #282c34;
  color: rgb(255, 255, 255, .95);
}
.light-theme {
  background-color: rgb(255, 255, 255, .95);
  color: #282c34;
}

.dark-theme__title {
  text-shadow: 1px 1px 1px rgba(43, 27, 5, 0.5);
}

.light-theme__title {
  text-shadow: 1px 1px 1px rgb(199, 197, 197);
}