.hero-profile {
  padding: 0 15px;
  margin: 5px auto;
  border-radius: 3px;
  width: 100%;
}
.hero-profile__title {
  font-size: 24pt;
  opacity: 1;
  text-shadow: 1px 1px 1px rgb(199, 197, 197, .7);
  font-family: 'Khula', sans-serif;
  text-transform: uppercase;
  height: fit-content;
  margin-bottom: 5px;
  width: fit-content;
  margin: auto;
}

#hero-profile__hero-select {
  padding: 10px 0;
  width: fit-content;
  height: 25px;
  margin: 10px auto 25px auto;
    
}
#choose-hero-text {
    font-size: 14.5pt;
}
#hero-selection {
    font-size: 13pt;
    opacity: .5;
}
.hero-profile__hero-thumbnail {
    display: 'inline-block';
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgb(199, 197, 197, .75);
    margin: 4px;
}
.icon-highlight {
  box-shadow: 0px 0px 3px 3px rgb(230, 150, 2);
}
.hero-profile__text {
  font-size: 13pt;
  margin: -5px 2px 20px 2px;
}
.hero-profile__text2 {
  font-size: 13pt;
  margin: -5px 2px 20px 2px;
}
.hero-profile__text2 a {
  color: rgb(230, 150, 2);
}
.hero-profile__text2 a:visited {
  color: rgb(230, 150, 2);
}
.hero-profile__text3 {
  font-size: 13pt;
  margin: -5px 2px 20px 2px;
  text-align:center;
}
.hero-profile__hero-thumbnail:hover 
{
  cursor: pointer;
}
.hero-profile__hero-row-title {
  font-size: 1.3em;
  margin: 3px 3px;
  font-family: 'Khula', sans-serif;
}

#hero-profile__pics-container {
  margin: auto;
  width: 95%;
}
.hero-profile__hero-section {
  margin: 5px auto;
}
.resources__section {
  
}
.resources__list {
  width: 100%;
}
.api-url {
  width: 100%;
  word-wrap: break-word;
}

section {
  font-size: 1.2em;
}