.counter-table {
    max-width: 980px;
    background-color: white;
    padding: 2px 15px;
    margin: 15px auto;
    border-radius: 3px;
    user-select: none;
}

#counter-table__table {
    display: block;
    overflow: scroll; 
    font-size: 9pt;
}

.counter-table__row-highlight{

}
.counter-table__table-head {
    text-align: center;
}
.cell-highlight {
    background-color: rgb(35, 243, 174);
}

.counter-table__row-head {
    max-width: 70px;
    min-width: 70px;
    text-align: right;

}
.counter-table__value {
    max-width: 50px;
    min-width: 50px;
    text-align: center;
    font-size: 10pt;
    border: solid .5pt rgb(228, 228, 228, .3);
}

.counter-table__td-doubleplus {
    background-color: rgb(1, 182, 228);
}
.counter-table__td-plus {
    background-color: rgb(189, 247, 255);
}
.counter-table__td-doubleminus {
    background-color: rgb(240, 1, 53);
}
.counter-table__td-minus {
    background-color: rgb(255, 180, 193);
}
