.random-hero__container {
    border-radius: 3px;
    margin: 0 auto 5px auto;
    font-size: '8pt';
    overflow: visible;
    padding: 15px 15px;
}
.random-hero-thumbnail__container {
  display: flex;
  align-items: center;
  padding: 1% 2.5%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.random-hero-thumbnail__image {
  display: 'inline-block';
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgb(199, 197, 197);
  margin: 2px;
}

.random-hero__title-container {
  display: flex;
  margin-right: auto;
}
.random-hero__title {
  height: fit-content;
  width: fit-content;
  margin: 5px auto -1% auto;
  /*color: rgb(1, 51, 80);
  text-shadow: .5px .5px .5px rgb(199, 197, 197);*/
  /*text-transform: uppercase;*/
}

.random-hero__title-name {
  max-height: 50px;
  margin: auto;
  display: flex;
  align-items: center;

  color: rgb(230, 150, 2);
  text-shadow: .5px .5px .5px rgb(28, 27, 28);
  margin-left: 3vw;
  font-size: 1.6em;
  
  border: solid 1pt rgba(255, 253, 243, 0.25);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.25);

  padding: 2px 25px;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  
}
.random-hero__title-name h3 {
  max-height: 90%;
  width: fit-content;
  margin: auto;
  margin-top: 3px;
}

.random-hero__btn {
  height: 32px;
  min-width: 90px;
  outline: none;
  font-size: 16px;  
  display: inline-block;
  border-radius: 5px;
  margin: 0 10px;
  color: rgb(46, 36, 39);
  /*box-shadow: 0px 0px 3px rgb(230, 150, 2);*/
  box-shadow: 0px 0px 5px rgb(59, 51, 38);
  border: solid 1pt rgb(204, 199, 158, .75);
  font-weight: bold;
  background-color: rgb(255, 255, 255, .98);
}
.random-hero__btn:hover {
  background-color: rgb(230, 150, 2);
}

#random-btns {
  margin: 3% auto;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-btn {
  height: 32px;
  width: 140px;
  border-radius: 5px;
  margin: 0 2.5%;
}
  


@media screen and (max-width: 600px) {
  #random-btns {
    flex-direction: column;
    max-width: 100vw;
  }
  .random-hero__btn {
    margin: 6% auto;
  }
}
