.random-hero__container {
    width: 980px;
    background-color: white;
    border-radius: 3px;
    margin: 5px auto;
    font-size: '8pt';
    background-color: white;
    padding: 15px 15px;
}

.random-hero__btn {
    height: 50px;
    width: 102px;
    outline: none;
    font-size: 18px;
    color: darkslategray;
    border: solid 1pt silver;
    display: inline-block;
  }

  .hero-btn {
    background-color: darkslategray;
    color: lightgray;
  }