.random-hero__container {
    max-width: 1080px;
    background-color: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    font-size: '8pt';
    background-color: white;
    overflow: visible;
    padding: 5px 15px;
    /*box-shadow: 0px 0px 4px 1px rgba(153, 153, 153, 0.4);*/

}

.random-hero__btn {
    height: 30px;
    width: 90px;
    outline: none;
    font-size: 16px;
    
    display: inline-block;
    border-radius: 5px;
    margin: 0 3px;
    
    color: rgb(36, 46, 46, .7);
    background-color: white;
    /*
    box-shadow: 0px 0px 3px rgb(177, 177, 177, .2);
    border: solid 1pt rgb(204, 199, 158);
    /* rgba(179, 247, 219, 0.1);*/
  }

  #random-btns {
    margin: auto;
    margin-left: -5px;
  }

  .hero-btn {
    height: 30px;
    width: 124px;
    border-radius: 5px;
    /*color: white;
    
    background-color: rgb(42, 99, 99, .8);
    box-shadow: 0px 0px 3px rgb(177, 177, 177, .2);
    border: solid 1pt rgb(204, 199, 158);*/
  }