.home {
    width: '100%';
    margin: 'auto';
    padding: 15px;
    font-family: 'Khula';
}

.home-hr {
    opacity: .1;
    width: 97%;
}

.home__body {
    width: 90%;
    max-width: 1080px;
    /*box-shadow: 0px 0px 5px .5px rgba(153, 153, 153, 0.4);
    */
    padding: 15px 15px;
    margin: auto;
    border-radius: 0px;

    /*background-color:rgb(29, 35, 54);*/
    
}

.home__header-image {
    width: 99%;
    height: 220px;
    border: solid 1pt;
    display: none;
}

.page-header__container {
    text-align: center;
}
.page-header__title {
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(67, 65, 65, 0.7);
    font-size: 2.5em;
    margin: 3% auto 2% auto; 
    
}
.page-header__text {
    opacity: .75;
}


@media only screen and (max-width: 768px) {
    .__title {
        text-align: center;
    }
    .home__body {
        width: 92%;
        padding: 10px 10px;
    }
}