.home {
    width: '100%';
    margin: 'auto';
    padding: 15px;
    font-family: 'Khula';
}

.home-hr {
    opacity: .1;
    width: 97%;
}

.home__body {
    width: 90%;
    max-width: 1080px;
    /*box-shadow: 0px 0px 5px .5px rgba(153, 153, 153, 0.4);
    */
    padding: 15px 15px;
    margin: auto;
    border-radius: 0px; 
}
.themeToggleBtn {
    float: right;
    opacity: .1;
    display: none;
}
.home__header-image {
    width: 99%;
    height: 220px;
    border: solid 1pt;
    display: none;
}

.page-header__container {
    text-align: center;
}
.page-header__title {
    font-size: 2.55em;
    margin: 3% auto 2% auto; 
}
.page-header__text {
    opacity: .75;
}

.home-intro__text-container {
    padding: 0 15px;
}
.home-intro__text {
    font-size: 13pt;
    margin: -5px 2px 20px 2px;
}
.resources__section {
    margin-top: 3%;
}
.resources__route-style {
    color: rgb(230, 150, 2);
    margin-bottom: -1.5%;
}
.resources__list {
 margin-top: 2%;
}
.section-heading {
    font-family: 'Khula', sans-serif;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: -1%;
}

@media only screen and (max-width: 768px) {
    .__title {
        text-align: center;
    }
    .home__body {
        width: 92%;
        padding: 10px 10px;
    }
}