.lineup-table {
    max-width: 1080px;
    margin: 15px auto;
    border-radius: 3px;
    user-select: none;
}
/*
#lineup-table__title {
    display: block;
    padding: 2px 15px;
    text-transform: uppercase;
    font-size: 24pt;
    opacity: 1;
    font-family: 'Khula', sans-serif;
    height: fit-content;
    margin: 15px 0 5px 0;
    text-align: center;
}
.lineup-table__summary {
    padding: 5px 15px 0 15px;
    font-size: 12pt;
    margin: -5px 2px 20px 2px;
    text-align: center;
}
*/
#lineup-table__table {
    display: block;
    font-size: 9pt;
    overflow: scroll;
}
#lineup-table__table::-webkit-scrollbar {
    /*display: none;*/
}

#lineup-hr {
    opacity: .1;
    width: 97%;
}

.lineup-table__table-head {
    text-align: center;
}
.cell-highlight {
    background-color: rgb(35, 243, 174);
}
.lineup-table__row {
    border-bottom: solid .5pt rgba(255, 255, 255, 0.25); 
}
.lineup-table__row-head {
    max-width: 85px;
    min-width: 85px;
    text-align: right;
    overflow: hidden;
    font-size: 1.1em;
    border-bottom: solid .5pt rgb(228, 228, 228, .25);
}
.lineup-table__row-head2 {
    max-width: 70px;
    min-width: 70px;
    text-align: left;
    overflow: hidden;
}
.lineup-table__column-head {
    min-width: 40px;
    max-width: 55px;
    text-align: center;
    overflow: auto;
}
.lineup-table__value {
    /*min-width: 40px;
    max-width: 55px;*/
    color: rgb(255, 255, 255, 0);
    text-align: center;
    font-size: 10.5pt;
    font-weight: bold;
    border-bottom: solid .5pt rgb(228, 228, 228, .25);
}
.lineup-table__col0,
.lineup-table__col1,
.lineup-table__col2,
.lineup-table__col3,
.lineup-table__col4 {
    width: 12%;
    width: 75px;

}
/*
.counter-table__td-doubleplus {
    background-color: rgb(1, 182, 228, .85);
}
.counter-table__td-plus {
    background-color: rgba(183, 240, 248, 0.8);
}
.counter-table__td-doubleminus {
    background-color: rgb(226, 13, 59, .65);
}
.counter-table__td-minus {
    background-color: rgb(255, 180, 193, .8);
}*/


.lineup-table__td-doubleplus {
    background-color: rgb(228, 77, 1);
}
.lineup-table__td-plus {
    background-color: rgb(248, 204, 183);
}
.lineup-table__td-doubleminus {
    background-color: rgb(43, 180, 66);
}
.lineup-table__td-minus {
    background-color: rgb(162, 255, 185);
}
.lineup-table__row-score-positive {
    color: rgb(37, 222, 83);
}
.lineup-table__row-score-negative {
    color: rgb(227, 87, 16);
}

.lineup-empty2-col {
    width: 20px;
}

.lineup-table__legend {
    display: flex;
    margin: 5px auto;
    font-size: 10pt;
}
.lineup-table__legend-td {
    height: 20;
    min-width: 80px;
    text-align: center;
    margin: 10px 10px;
    display: flex;
}
.lineup-table__legend-val {
    width: 40px;
    text-align: center;
    font-size: 10pt;
    border: solid .5pt rgb(228, 228, 228, .35);
}
.lineup-table__legend-color {
    width: 60px;
    color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}
.lineup-table__legend-text {
    
}

/* Hero Selection */
.hero-lineup-selection {
    display: flex;
    align-items: baseline;
    margin-left: 82px;
    height: 115px;
}
.hero-lineup-select__container {
    width: 12%;
    width: 75px;
    height: 90px;
    margin: 0 3px;
}
.hero-lineup-select__image {
    width: 100%;
    height: 100%;
    /*border: solid 1pt gold;*/
    border-radius: 3px;
    color: white; 
    text-align: center; 
    text-shadow: 1px 1px 1px rgb(41, 41, 41);
    
    background-color: rgba(255, 255, 255, 0.95);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.hero-lineup-select__container-name-text {
    width: 100%;
    height: 100%;
}

.hero-lineup-select__popout-name:hover {
    border: solid 1pt gold;
}
.hero-lineup-select__popout-text {
    
}
.hero-lineup-select__select-input {
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .hero-lineup-selection {
        display: flex;
        align-items: baseline;
        margin-left: 5%;
        height: 115px;
    }
    .hero-lineup-select__container {
        width: 17.5%;
    }
    .lineup-table__row-head {
        font-size: 1.1em;
    }
  }