.header {
    text-align: center;
    width: 100%;
    height: 26px;
    color: #ddd;
    margin-top: -6px;
    letter-spacing: 1.5px;
    
    user-select: none;
    background: transparent;
    
}
.header a {
  width: fit-content;
}
.header a:link {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  /* visited link */
.header a:visited {
    color: #aaa;
    text-decoration: none;
  }
  
  /* mouse over link */
.header a:hover {
    color: #ff9c00;
    text-decoration: none;
    text-shadow: 0 0 8px rgba(255, 156, 0, 0.4);
  }
  
  /* selected link */
.header a:active {
    color: #ff9c00;
    text-decoration: none;
  }