.hero-matchup__container-random tbody {

} 
.hero-matchup__tbody {
    display: block;
    max-width: 1080px;
    overflow: scroll;
}
.hero-matchup td {
    font-size: 12pt;
}
.hero-matchup__td-doubleplus {
    background-color: hsl(199, 100%, 48%);
}
.hero-matchup__td-plus {
    background-color: hsl(197, 94%, 87%);
}
.hero-matchup__td-doubleminus {
    background-color: rgb(240, 1, 1);
}
.hero-matchup__td-minus {
    background-color: rgb(255, 180, 180);
}


.counter-hero__td-random {
    min-width: 30px;
    font-size: 10pt;
    text-align: center;
}
.counter-type__td-random {

    font-size: 12pt;
    text-align: center;
    border: solid .5pt rgb(228, 228, 228, .3);
}
.counter-hero__td-profile {
    min-width: 30px;
    font-size: 10pt;
    text-align: center;
    overflow: hidden
}
.counter-type__td-profile {
    min-width: 30px;
    max-width: 60px;
    font-size: 12pt;
    text-align: center;
    border: solid .5pt rgb(228, 228, 228, .3);
}